.appt-cont {
    background-color:rgba(125, 63, 184, 0.5);
    min-height: 1000px;
    margin-top: 25px;
    color: white;
    border-style: double;
    border-color: white;
    text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
}

.appt-cont h1, h3{
    text-align: center;
    text-decoration: underline;
}

.appt-cont h3 {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.cards {
    list-style: none;
    align-items: center;
    flex-direction: column;
  }